.canvas {
  width: 650px;
  height: 650px;
  background: var(--light);
  box-shadow: 0 5px 10px var(--box-shadow-color);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
