.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  text-align: center;
  width: 630px;
}
