.container {
}

.option {
  justify-content: space-between;
  position: relative;
}

.option__lock {
  all: unset;
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: calc(50% - 20px);
  margin-top: -20px;
  background-color: var(--light);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  border-radius: 4px;
  cursor: pointer;
  fill: var(--dark);
  transition-property: fill, background-color, filter;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.option__lock:hover {
  filter: brightness(0.95);
}

.option__lock[aria-checked="true"] {
  background-color: var(--green);
  fill: var(--light);
}

.size {
  display: flex;
  align-items: center;
  gap: 4px;
}

.size__button {
  all: unset;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.size__button.higher {
  transform: rotate(180deg);
}
.size__button:hover {
  opacity: 0.5;
}
.size__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button__icon {
  stroke: var(--dark);
}

.size__input {
  all: unset;
  width: 50px;
  text-align: center;
  font-size: 14px;
  color: var(--dark);
}

.size__input:focus {
  box-shadow: 0 1px 0 0 var(--dark);
}
