:root {
  --bg-color: #dadada;
  --light: #e6e6e6;
  --dark: #1e1e1e;
  --gray: grey;

  --box-shadow-color: rgba(0, 0, 0, 0.15);

  --red: indianred;
  --green: mediumseagreen;
  --blue: dodgerblue;
  --orange: coral;
  --violet: violet;

  --body-padding: 36px;
}

:root.dark {
  --bg-color: #1e1e1e;
  --light: #343434;
  --dark: #e6e6e6;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  padding: var(--body-padding);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("/public/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("/public/fonts/Inter-SemiBold.ttf") format("truetype");
}
